@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color:#272626;
    color: #fff;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.tela_cadastro {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.imagem_ilustrativa {
    width: 50%;
}

.imagem_ilustrativa img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.cadastro {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    padding-top: 20px;
}

.cadastro h1 {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}

.formulario_cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: left;
    justify-content: left;
}

.formulario_cadastro div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formulario_cadastro div label {
    font-size: 22px;
}

.formulario_cadastro input {
    border: 2px solid #fff;
    border-radius: 6px;
    height: 30px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
}

.input_dividido {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.input_dividido div {

    width: 48%;
}

.cadastrar {
    align-items: center
}

.cadastrar button {
    width: 50%;
    border-radius: 12px;   
    background-color: darkorange;
    border: 1px solid #ccc;
    font-size: 20px;
    color: #fff;
    padding: 8px 0;
}

.cadastrar button:hover {
    background-color: #bb613c;
    transition: 500ms;
}